/*
  Color Variables
  ---------------
*/
$color-primary: #157fcc;
$color-primary-light: #ccddff;
$color-secondary: #29274e;
$color-tertiary: #3abf7c;
$color-grey: #fafafa;
$color-white: #ffffff;
$color-black: #000000;
/*
  Font Variables
  --------------
*/
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto Mono', monospace;
/* 
  Mixins 
  ------
*/

/*
  Mobile Responsiveness
  ---------------------
*/

/*
  Main
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:link,
a:visited a:focus {
  text-decoration: none;
  outline: none;
}

input:link,
input:hover,
input:focus,
input:active {
  outline: none;
  background-color: tranparent;
}

input::placeholder {
  font-family: $font-primary;
}

textarea::placeholder {
  font-family: $font-primary;
  font-size: 1.6rem;
}

button:link,
button:hover,
button:focus,
button:active {
  outline: none;
  background-color: tranparent;
}

html {
  box-sizing: border-box;

  @media all and (max-width: 480px) {
    font-size: 50%;
  }
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    font-size: 52.5%;
  }
  @media all and (min-width: 1280px) and (max-width: 1440px) {
    font-size: 60%;
  }
  @media (min-width: 1920px) {
    font-size: 72.5%;
  }

  font-size: 62.5%; //10px/16px = 62.5% 1rem
}

body {
  font-family: $font-primary;
  line-height: 1.6;
}

.container {
  width: 144rem;
  margin: 0 auto;
}
