.btn {
  height: 4rem;
  padding: 0 2rem;
  background-color: $color-primary;
  color: $color-white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  outline: none;
  border: 0px;
  border-radius: 0.3rem;
  cursor: pointer;
}
