.header {
  padding: 0.8rem 16rem;
  height: 88vh;
  overflow-y: hidden;
  position: relative;
  top: -10rem;
  display: flex;
  align-items: center;
  &__bg-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    &:nth-of-type(2) {
      top: unset;
      bottom: 0;
      padding-left: 14rem;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 16rem;
    // padding-right: 7.2rem;
    width: 96rem;
  }
  &__content {
    margin-top: -5rem;
    z-index: 5;
    width: 72rem;
    & .heading-1 {
      color: $color-secondary;
      margin-bottom: 0.8rem;
    }

    & .paragraph {
      font-size: 1.6rem;
      width: 90%;
    }

    & .btn {
      margin-top: 5.6rem;
      background-color: $color-tertiary;
      font-weight: 400;
      padding: 1.75rem 4.8rem;
      font-weight: 200;
      height: unset;
      text-transform: none;
    }
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    padding: 0.8rem 10rem;
    &__bg-img {
      &:nth-of-type(2) {
        padding-left: 8rem;
      }
    }

    &__img {
      right: 10rem;
      // left: 0rem;
      // width: 100%;
    }
    &__content {
      & .heading-1 {
        font-size: 4rem;
      }
    }
  }

  @media (min-width: 1024px) and (max-width: 1366px) {
    height: 80rem;
    padding-top: 10rem;
    &__content {
      width: 65rem;
    }
  }

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 0 2.4rem;
    overflow-x: hidden;
    height: 100vh;
    &__img {
      right: 0rem;
      display: none;
    }

    &__bg-img {
      height: 120rem;
      width: 120rem;
      &:nth-of-type(2) {
        display: none;
        bottom: 3.2rem;
        height: 20rem;
        width: 100%;
        padding: 1.6rem;
        opacity: 0.1;
      }
    }
    &__content {
      margin-top: 5rem;
      & .btn {
        font-weight: 400;
      }
    }
  }
}

.brands {
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 16rem;
  width: 100%;
  &__caption {
    margin-bottom: 2.4rem;
    & .heading-5 {
      font-weight: 400;
    }
  }

  & .swiper-container {
    width: 100%;
    & .swiper-wrapper {
      height: auto;
      & .swiper-slide {
        // width: 15% !important;
        height: auto;
        & img {
          width: 80%;
        }
      }
    }
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    padding: 3.2rem 10rem 0rem 10rem;
    & .swiper-container {
      padding-top: 0;
      padding-bottom: 4.8rem;
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    margin-top: -10rem;
    margin-bottom: 3.2rem;
    padding: 2.4rem;
    & .swiper-container {
      padding-bottom: 4.8rem;
      & .swiper-wrapper {
        height: 0;
        & .swiper-slide {
          height: 0;
        }
      }
    }
  }
}

.banner {
  padding: 10rem 16rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-grey;
  position: relative;
  width: 100%;
  &__one {
    width: 60%;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-1 {
      color: $color-primary;
    }

    & .paragraph {
      font-size: 2rem;
      & a {
        color: $color-primary;
      }
    }
  }

  &__two {
    width: 35%;
    position: relative;
    z-index: 1;
    & .heading-3 {
      font-weight: 300;
      font-size: 2.6rem;
    }
  }

  &__img-1 {
    position: absolute;
    top: 17rem;
    right: 7rem;
    transform: scaleY(-1);
    opacity: 0.7;
    // z-index: -1;
    // border: 2px solid red;
  }
  &__img-2 {
    position: absolute;
    top: 30rem;
    right: 30rem;
    opacity: 0.7;
    // z-index: -1;
    // border: 2px solid blue;
  }
  &__img-3 {
    position: absolute;
    top: 1rem;
    right: 20rem;
    opacity: 0.7;
    // z-index: -1;
    // border: 2px solid green;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    padding: 10rem 10rem;
    &__one {
      & .heading-1 {
        font-size: 5rem;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    padding: 7.2rem 2.4rem;
    flex-direction: column;
    &__one {
      width: 100%;
    }
    &__two {
      width: 100%;
    }
    &__img-1 {
      display: none;
    }
    &__img-2 {
      display: none;
    }
    &__img-3 {
      display: none;
    }
  }
}

.services {
  position: relative;
  padding: 10rem 16rem;
  width: 100%;
  &__image__1 {
    position: absolute;
    top: 15rem;
    left: 20%;
    // z-index: 2;
  }
  &__image__2 {
    position: absolute;
    top: 4.8em;
    right: 3.6rem;
    // z-index: 2;
  }
  & .heading-1 {
    text-transform: capitalize;
    margin-bottom: 4.8rem;
    color: #333333;
    text-align: center;
    font-size: 6.4rem;
  }
  &__paragraph {
    font-size: 2rem;
    & span {
      color: $color-primary;
    }
  }
  &__cards {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 6.4rem;
    justify-content: space-between;
    &__card {
      width: 23%;
      margin: 0 auto;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      & > * {
        margin-bottom: 1.6rem;
      }
      &__container {
        background-color: $color-grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4.8rem 2rem;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-bottom: 3.2rem;
        max-height: fit-content;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        &:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
        &__paragraph {
          font-weight: 300;
        }
        &__icon {
          background-color: $color-primary;
          border-radius: 2.4rem;
          height: 12rem;
          width: 12rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        & .heading-3 {
          color: #2f3d50;
        }
        & > * {
          margin-bottom: 1.6rem;
        }
      }

      &__link {
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-primary;
      }
    }
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    & .heading-1 {
      font-size: 5rem;
    }
    padding: 10rem 10rem;
    &__cards {
      &__card {
        width: 22%;
        &__container {
          padding: 4.8rem 1.6rem;
          &__icon {
            height: 8rem;
            width: 8rem;
            &__image {
              height: 50%;
              width: 50%;
            }
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 4.8rem 2.4rem;
    &__image__1 {
      display: none;
    }
    &__image__2 {
      display: none;
    }
    &__cards {
      flex-direction: column;
      align-items: center;
      padding: 0rem;
      &__card {
        width: 100%;
        margin-bottom: 4.8rem;
        cursor: unset;
        &__container {
          padding: 8.8rem 1.6rem;
          margin-bottom: 3.2rem;
          -webkit-transform: unset;
          transform: unset;
          -webkit-transition: unset;
          transition: unset;
          &:hover {
            -webkit-transform: unset;
            transform: unset;
          }
          & > * {
            margin-bottom: 2.4rem;
          }
          & .paragraph {
            padding-top: 0;
            margin-top: 0;
            width: 80%;
          }
          &__icon {
            height: 16rem;
            width: 16rem;
          }
        }
      }
    }
  }
}

.testimonies {
  padding: 7.2rem 0 20rem 0;
  &__caption {
    padding: 0 16rem;
    & .heading-1 {
      color: #333333;
      font-size: 6.4rem;
    }
  }
  background-color: $color-grey;
  &__row {
    position: relative;
    margin-top: 10rem;
    height: 56rem;
    padding-left: 16rem;
    &::after {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $color-primary;
      clip-path: polygon(100% 0, 100% 100%, 27% 100%, 27% 82%, 0 82%, 0 0);
      // z-index: 20;
    }
    & .swiper-container {
      & .swiper-wrapper {
        & .swiper-slide {
          display: flex;
          justify-content: space-between;
          .slide-image {
            height: 102%;
          }
          & .slide-text {
            position: relative;
            // display: flex;
            // flex-direction: column;
            padding: 4.8rem 16rem 0 4.8rem;
            & .swiper-pagination {
              position: absolute;
              bottom: 3.2rem;
              display: flex;
              flex-direction: column;
              & .paragraph {
                color: $color-white;
                margin-left: 4rem;
              }
              & .swiper-pagination-bullet {
                width: 2em;
                height: 2rem;
                background: transparent;
                border: 0.2rem solid $color-white;
                opacity: 1;
                margin-bottom: 2.4rem;
                display: flex;
                align-items: center;
              }

              & .swiper-pagination-bullet-active {
                background: $color-white;
              }
            }
            & .quote {
              margin-bottom: 3.2rem;
            }
            & .heading-4 {
              color: $color-white;

              & .quote {
                font-family: $font-secondary;
              }
            }
          }
        }
      }
    }

    &__decor-1 {
      position: absolute;
      bottom: 7.2rem;
      right: 5rem;
      opacity: 0.15;
      z-index: 3;
      animation: rotation 3s infinite linear;
    }
    &__decor-2 {
      position: absolute;
      bottom: -8rem;
      left: 8rem;
      z-index: 3;
    }
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    &__caption {
      padding: 0 10rem;
      & .heading-1 {
        font-size: 5rem;
      }
    }

    &__row {
      padding-left: 10rem;
      & .swiper-container {
        & .swiper-wrapper {
          & .swiper-slide {
            .slide-image {
              height: 102%;
            }
            & .slide-text {
              padding: 3.2rem 10rem 3.2rem 3.2rem;
              & .swiper-pagination {
                position: absolute;
                bottom: 1.6rem;
                display: flex;
                flex-direction: column;
                & .swiper-pagination-bullet {
                  width: 1.6rem;
                  height: 1.6rem;
                  background: transparent;
                  border: 0.2rem solid $color-white;
                  opacity: 1;
                  margin-bottom: 1.6rem;
                }

                & .swiper-pagination-bullet-active {
                  background: $color-white;
                }
              }
              & .quote {
                margin-bottom: 3.2rem;
              }
              & .heading-4 {
                color: $color-white;

                & .quote {
                  font-family: $font-secondary;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1280px) and (max-width: 1440px) {
    &__row {
      & .swiper-container {
        & .swiper-wrapper {
          & .swiper-slide {
            & .slide-text {
              & .swiper-pagination {
                bottom: 7.2rem;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 7.2rem 0 0 0;
    &__caption {
      padding: 0 2.4rem;
    }

    &__row {
      padding-left: 0rem;
      margin-top: 2.4rem;
      padding-bottom: 0;
      height: auto;
      &::after {
        clip-path: unset;
      }
      & .swiper-container {
        height: 100% !important;
        & .swiper-wrapper {
          height: 100% !important;
          & .swiper-slide {
            flex-direction: column;
            justify-content: unset;
            height: 100% !important;
            .slide-image {
              height: unset;
              width: 100%;
            }
            & .slide-text {
              padding: 2.4rem;
              & .quote {
                margin-bottom: 0.8rem;
              }
              & .heading-4 {
                margin-bottom: 1.6rem;
              }
              & .swiper-pagination {
                position: unset;
                flex-direction: column;
                bottom: 0rem;
                & .swiper-pagination-bullet {
                  width: 1rem;
                  height: 1rem;
                }

                & .swiper-pagination-bullet-active {
                  background: $color-white;
                }
              }
            }
          }
        }
      }
      &__decor-1 {
        display: none;
      }
      &__decor-2 {
        display: none;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 375px) {
    &__row {
      & .swiper-container {
        & .swiper-wrapper {
          & .swiper-slide {
            & .slide-text {
              padding: 1.6rem 2.4rem;
              & .quote {
                height: 1.6rem;
                width: 1.6rem;
              }
              & .heading-4 {
                margin-bottom: 1.6rem;
              }
              & .swiper-pagination {
                & .swiper-pagination-bullet {
                  width: 0.8rem;
                  height: 0.8rem;
                  margin-bottom: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.aims {
  position: relative;
  padding: 16rem 16rem;
  &__img-1 {
    position: absolute;
    z-index: -1;
    top: 5rem;
    right: 25rem;
    animation: rotation 5s infinite linear;
  }
  &__img-2 {
    position: absolute;
    z-index: -1;
    right: 5rem;
    top: 18rem;
    animation: rotation 5s infinite linear;
  }
  &__img-3 {
    position: absolute;
    z-index: -1;
    right: 15rem;
    top: 40rem;
    animation: anti-rotation 5s infinite linear;
    // border: 2px solid red;
  }

  @keyframes anti-rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  &__text {
    // position: relative;
    width: 80%;

    & > * {
      margin-bottom: 1.6rem;
    }
    &__paragraph {
      display: flex;
      align-items: center;
    }
    & .heading-1 {
      color: #333333;
      font-size: 6.4rem;
    }
    &__icon {
      margin-right: 1.6rem;
    }
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    padding: 16rem 10rem;
    &__text {
      & .heading-1 {
        font-size: 5rem;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    padding: 7.2rem 2.4rem;
    &__img-1 {
      display: none;
    }
    &__img-2 {
      display: none;
    }
    &__img-3 {
      display: none;
    }
    &__text {
      width: 100%;
      & .paragraph {
        align-items: center;
        & strong {
          flex-grow: 1;
        }
      }
    }
  }
}

.team {
  position: relative;
  padding: 9rem 16rem 4rem 16rem;
  width: 100%;
  height: 95rem;
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f9fcff;
    z-index: -2;
  }
  & .team-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-bottom: 10rem;
    z-index: -1;
  }
  & .heading-1 {
    text-align: center;
    margin-bottom: 6.4rem;
    font-size: 6.4rem;
    color: #333333;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.8rem;
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      // cursor: pointer;
      // -webkit-transform: scale(1);
      // transform: scale(1);
      // -webkit-transition: 0.5s ease-in-out;
      // transition: 0.5s ease-in-out;
      // &:hover {
      //   -webkit-transform: scale(1.5);
      //   transform: scale(1.5);
      //   & .heading-4 {
      //     display: none;
      //   }
      //   & .paragraph {
      //     display: none;
      //   }
      //   & .card-link {
      //     display: none;
      //   }
      // }
      & .paragraph {
        text-align: center;
      }
      &__image {
        border-radius: 2.4rem;
        & img {
          height: 15rem;
          width: 15rem;
          border-radius: 2.4rem;
        }
      }
      & > * {
        margin-bottom: 0.8rem;
      }
    }
  }
  @media (min-width: 1024px) and (max-width: 1440px) {
    padding: 9rem 10rem 4rem 10rem;
    & .heading-1 {
      font-size: 5rem;
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    padding: 7.2rem 2.4rem;
    height: unset;
    & .team-bg {
      display: none;
    }
    &__row {
      flex-direction: column;
      align-items: center;
      &__card {
        width: 100%;
        cursor: unset;
        -webkit-transform: unset;
        transform: unset;
        -webkit-transition: unset;
        transition: unset;
        margin-bottom: 4.8rem;
        &:hover {
          -webkit-transform: unset;
          transform: unset;
          & .heading-4 {
            display: unset;
          }
          & .paragraph {
            display: unset;
          }
          & .card-link {
            display: unset;
          }
        }
        & > * {
          margin-bottom: 1.6rem;
        }
      }
      &__image {
        & img {
          height: 25rem;
          width: 25rem;
        }
      }
    }
  }
}

.blog {
  padding: 12rem 16rem 25rem 16rem;
  width: 100%;
  position: relative;
  & .heading-1 {
    color: #333333;
    font-size: 6.4rem;
  }
  &__image__1 {
    position: absolute;
    z-index: -1;
    right: 28rem;
  }
  &__image__2 {
    position: absolute;
    z-index: -1;
    left: -2rem;
    bottom: 5rem;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
    &__post {
      width: 22%;
      cursor: pointer;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      &__image {
        width: 100%;
        margin-bottom: 1.6rem;
      }
      & .heading-4 {
        margin-bottom: 0.8rem;
      }
      & .paragraph {
        margin-bottom: 1.6rem;
        color: #999999;
      }
      & .separator {
        border: none;
        height: 0.2rem;
        background-color: #999999;
      }
      &:hover {
        & .paragraph {
          color: $color-black;
        }
        & .separator {
          background-color: $color-black;
        }
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
  @media (min-width: 1024px) and (max-width: 1440px) {
    padding: 12rem 10rem 25rem 10rem;
    & .heading-1 {
      font-size: 5rem;
    }
  }
  &__image__1 {
    position: absolute;
    z-index: -1;
    right: 28rem;
  }
  &__image__2 {
    position: absolute;
    z-index: -1;
    left: -2rem;
    bottom: 2rem;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 7.2rem 2.4rem;
    &__image__1 {
      display: none;
    }
    &__image__2 {
      display: none;
    }
    &__row {
      flex-direction: column;
      &__post {
        width: 100%;
        margin-bottom: 7.2rem;
        box-shadow: 0px 1px 5px 2px rgba(139, 139, 139, 0.25);
        & .heading-4,
        & .paragraph {
          padding-left: 2.4rem;
        }
        & .separator {
          display: none;
        }
        &:hover {
          & .paragraph {
            color: $color-black;
          }
          & .separator {
            background-color: $color-black;
          }
          -webkit-transform: unset;
          transform: unset;
        }
      }
    }
  }
}
