.navbar {
  background-color: transparent;
  color: $color-black;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 16rem;
  height: 10rem;
  position: relative;
  z-index: 2;

  &__mobile {
    // border: 2px solid red;
    &__menu {
      display: inline-block;
    }
    &__logo {
      display: inline-block;
      margin: 0;
      &__link {
        &__image {
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    // border: 2px solid red;

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center;

      &__item {
        list-style: none;
        // float: left;
        padding: 0 0 0 4.8rem;
        & .active {
          color: $color-primary;
          & .btn {
            background-color: $color-secondary;
          }
        }

        &__link {
          font-size: 1.2rem;
          font-weight: 500;
          color: $color-black;
          text-transform: uppercase;
          & .btn {
            &__light {
              border: 0.1rem solid $color-primary;
              background-color: $color-primary-light;
              color: $color-primary;
            }
            font-size: 1.2rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
            & .btn,
            .btn-light {
              padding: 0;
              background-color: transparent;
              color: $color-black;
              font-size: 1.8rem;
              font-weight: 500;
              font-family: $font-primary;
              border: none;
            }
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            border-left: 1.5px solid $color-secondary;
            padding: 0 0 0 0.5rem;
            border-bottom: 0;
          }
          list-style: none;
          float: none;
          padding: 2% 5%;
          &__link {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0.8rem 10rem;
  }
}

.footer {
  padding: 16rem;
  background-color: $color-secondary;
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.2rem;
    &__col {
      width: 20%;
      & .heading-4 {
        color: $color-white;
        font-weight: 500;
        margin-bottom: 1.6rem;
      }

      & .paragraph {
        color: $color-white;
        font-weight: 300;
        margin-bottom: 1.6rem;
      }
    }
  }
  & .separator {
    height: 0.1rem;
    border: none;
    background-color: $color-white;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
    &__logo {
      width: 20%;
    }
    &__sm {
      display: flex;
      &__icon {
        background-color: $color-primary;
        padding: 2.4rem;
        border-radius: 100%;
        margin-right: 2.4rem;
        &:last-child {
          margin-right: 0rem;
        }
      }
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 10rem;
  }

  @media (min-width: 320px) and (max-width: 576px) {
    padding: 2.4rem;

    &__row {
      flex-direction: column;
      &__col {
        width: 100%;
        margin-bottom: 3.2rem;
      }
    }

    &__bottom {
      flex-direction: column-reverse;
      align-items: flex-start;
      & > * {
        margin-bottom: 2.4rem;
      }
      &__logo {
        width: 100%;
      }
    }
  }
}
