.product-header {
  padding: 0.8rem 16rem;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  top: -10rem;
  display: flex;
  align-items: center;
  &__bg-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    &:last-of-type {
      top: unset;
      bottom: 0;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    // padding-right: 7.2rem;
    width: 72rem;
  }
  &__content {
    z-index: 5;
    width: 72rem;
    // height: 50%;
    & > * {
      margin-bottom: 1.6rem;
    }

    & .heading-1 {
      color: $color-secondary;
    }

    & .btn {
      background-color: $color-tertiary;
      font-weight: 400;
      text-transform: capitalize;
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0.8rem 10rem;
    &__img {
      width: 56rem;
      // top: ;
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    padding: 0.8rem 2.4rem;

    padding: 0 2.4rem;
    overflow-x: hidden;
    &__img {
      right: 0rem;
      display: none;
    }
    &__bg-img {
      height: 100rem;
      width: 100rem;
    }
  }
}

.signup {
  padding: 0rem 16rem 5.6rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .heading-2 {
    text-align: center;
  }

  & > * {
    margin-bottom: 7.2rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 9.6rem;
    &__col {
      display: flex;
      align-items: center;
      width: 33.3% !important;
      & .heading-4 {
        width: 60%;
        margin-left: 2.4rem;
        font-weight: 400;
      }
      &:last-of-type {
        flex-grow: 1;
      }
    }
  }
  & .btn {
    height: unset;
    padding: 2.4rem 3.2rem;
    text-transform: capitalize;
    background-color: $color-tertiary;
    margin-top: 3.2rem;
    width: 20%;
  }

  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0rem 10rem 5.6rem 10rem;
  }

  @media (min-width: 320px) and (max-width: 576px) {
    padding: 0 2.4rem 2.4rem 2.4rem;
    &__row {
      flex-direction: column;
      margin-bottom: 0;
      &__col {
        width: 100% !important;
        margin-bottom: 3.2rem;
        & .heading-4 {
          width: 100%;
        }
      }
    }
    & .btn {
      width: 100%;
      font-weight: 400;
    }
  }
}

.bg {
  display: flex;
  flex-direction: column;
  padding: 9.6rem 16rem;
  background-color: #fafcff;
  align-items: center;
  &__row {
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    &__text {
      width: 45%;
      & > * {
        margin-bottom: 3.2rem;
      }
      & .block-paragraph {
        border-left: 0.5rem solid $color-tertiary;
        padding: 2.4rem;
        background-color: #f1f6f6;

        & .heading-4 {
          margin-bottom: 0.8rem;
        }
      }
      &__link {
        font-weight: 700;
        color: $color-primary;
        cursor: pointer;
      }
    }

    &__image {
      width: 40%;
      height: 100%;
      & img {
        width: 100%;
        // height: 100%;
        box-shadow: 20px 40px 72px rgba(0, 0, 0, 0.1);
      }
    }
  }
  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 9.6rem 10rem;
  }

  @media (min-width: 320px) and (max-width: 576px) {
    padding: 7.2rem 2.4rem;
    &__row {
      flex-direction: column-reverse;
      &__text {
        width: 100%;
      }
      &__image {
        width: 100%;
        margin-bottom: 3.2rem;
      }
    }
  }
}

.no-bg {
  display: flex;
  flex-direction: column;
  padding: 9.6rem 16rem;
  align-items: center;
  &__row {
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    &__text {
      width: 45%;
      & > * {
        margin-bottom: 3.2rem;
      }
      & .block-paragraph {
        border-left: 0.5rem solid $color-tertiary;
        padding: 2.4rem;
        background-color: #f1f6f6;

        & .heading-4 {
          margin-bottom: 0.8rem;
        }
      }
      &__link {
        font-weight: 700;
        color: $color-primary;
        cursor: pointer;
      }
    }

    &__image {
      width: 40%;
      height: 100%;
      & img {
        width: 100%;
        // height: 100%;
        box-shadow: 20px 40px 72px rgba(0, 0, 0, 0.1);
      }
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 9.6rem 10rem;
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 7.2rem 2.4rem;
    &__row {
      flex-direction: column;
      &__text {
        width: 100%;
      }
      &__image {
        width: 100%;
        margin-bottom: 3.2rem;
      }
    }
  }
}

.create-account {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 7.2rem 0;
  & .btn {
    height: unset;
    text-transform: capitalize;
    font-weight: 300;
    background-color: $color-tertiary;
    padding: 2.4rem 4.8rem;
  }
}

.cm-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: #ff0000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72rem;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: $color-white;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-3 {
      color: $color-secondary;
    }
    & img {
      width: 100%;
    }

    & .btn {
      height: unset;
      padding: 2.4rem 4.8rem;
      background-color: $color-tertiary;
      width: 100%;
      text-transform: unset;
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 2.4rem;
    &__content {
      width: 100%;
    }
  }
}

.cs-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: #ff0000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72rem;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: $color-white;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-3 {
      color: $color-secondary;
    }
    & img {
      width: 100%;
    }

    & .btn {
      height: unset;
      padding: 2.4rem 4.8rem;
      background-color: $color-tertiary;
      width: 100%;
      text-transform: unset;
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 2.4rem;
    &__content {
      width: 100%;
    }
  }
}

.mp-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: #ff0000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72rem;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: $color-white;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-3 {
      color: $color-secondary;
    }
    & img {
      width: 100%;
    }

    & .btn {
      height: unset;
      padding: 2.4rem 4.8rem;
      background-color: $color-tertiary;
      width: 100%;
      text-transform: unset;
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 2.4rem;
    &__content {
      width: 100%;
    }
  }
}

.av-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: #ff0000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72rem;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: $color-white;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-3 {
      color: $color-secondary;
    }
    & img {
      width: 100%;
    }

    & .btn {
      height: unset;
      padding: 2.4rem 4.8rem;
      background-color: $color-tertiary;
      width: 100%;
      text-transform: unset;
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 2.4rem;
    &__content {
      width: 100%;
    }
  }
}
