.product-header {
  padding: 0.8rem 16rem;
  height: 86vh;

  &__bg {
    position: absolute;
    z-index: -3;
    top: 0;
    right: 0;
  }
  &__img {
    position: absolute;
    overflow: hidden;
    z-index: -3;
    top: 2rem;
    // bottom: 0;
    right: 0rem;
  }

  &__content {
    width: 60rem;
    margin-top: 11rem;
    & > * {
      margin-bottom: 1.6rem;
    }
    & .heading-1 {
      color: $color-secondary;
    }

    & .btn {
      background-color: $color-tertiary;
      font-weight: 400;
      text-transform: capitalize;
    }

    &__button {
      margin-top: 3.2rem;
      & .btn {
        height: unset;
        padding: 1.6rem 3.2rem;
        &:first-of-type {
          margin-right: 3.2rem;
        }
        &:last-of-type {
          background-color: #c4c4c4;
        }
      }
    }
  }
}

.signup {
  padding: 16rem 16rem 5.6rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .heading-2 {
    text-align: center;
  }

  & > * {
    margin-bottom: 7.2rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 9.6rem;
    &__col {
      display: flex;
      align-items: center;
      width: 33.3% !important;
      & .heading-4 {
        width: 60%;
        margin-left: 2.4rem;
        font-weight: 400;
      }
      &:last-of-type {
        flex-grow: 1;
      }
    }
  }
  & .btn {
    height: unset;
    padding: 2.4rem 3.2rem;
    text-transform: capitalize;
    background-color: $color-tertiary;
    margin-top: 3.2rem;
    width: 20%;
  }
}

.bg {
  display: flex;
  flex-direction: column;
  padding: 9.6rem 16rem;
  background-color: #fafcff;
  align-items: center;
  &__row {
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    &__text {
      width: 45%;
      & > * {
        margin-bottom: 3.2rem;
      }
      & .block-paragraph {
        border-left: 0.5rem solid $color-tertiary;
        padding: 2.4rem;
        background-color: #f1f6f6;

        & .heading-4 {
          margin-bottom: 0.8rem;
        }
      }
      &__link {
        font-weight: 700;
        color: $color-primary;
        cursor: pointer;
      }
    }

    &__image {
      & img {
        box-shadow: 20px 40px 72px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.no-bg {
  display: flex;
  flex-direction: column;
  padding: 9.6rem 16rem;
  align-items: center;
  &__row {
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    &__text {
      width: 45%;
      & > * {
        margin-bottom: 3.2rem;
      }
      & .block-paragraph {
        border-left: 0.5rem solid $color-tertiary;
        padding: 2.4rem;
        background-color: #f1f6f6;

        & .heading-4 {
          margin-bottom: 0.8rem;
        }
      }
      &__link {
        font-weight: 700;
        color: $color-primary;
        cursor: pointer;
      }
    }

    &__image {
      & img {
        box-shadow: 20px 40px 72px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.create-account {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 7.2rem 0;
  & .btn {
    height: unset;
    text-transform: capitalize;
    font-weight: 300;
    background-color: $color-tertiary;
    padding: 2.4rem 4.8rem;
  }
}

.cm-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: #ff0000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72rem;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: $color-white;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-3 {
      color: $color-secondary;
    }
    & img {
      width: 100%;
    }

    & .btn {
      height: unset;
      padding: 2.4rem 4.8rem;
      background-color: $color-tertiary;
      width: 100%;
      text-transform: unset;
    }
  }
}

.cs-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: #ff0000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72rem;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: $color-white;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-3 {
      color: $color-secondary;
    }
    & img {
      width: 100%;
    }

    & .btn {
      height: unset;
      padding: 2.4rem 4.8rem;
      background-color: $color-tertiary;
      width: 100%;
      text-transform: unset;
    }
  }
}

.mp-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: #ff0000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72rem;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: $color-white;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-3 {
      color: $color-secondary;
    }
    & img {
      width: 100%;
    }

    & .btn {
      height: unset;
      padding: 2.4rem 4.8rem;
      background-color: $color-tertiary;
      width: 100%;
      text-transform: unset;
    }
  }
}

.av-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: #ff0000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72rem;
    margin: 0 auto;
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: $color-white;
    & > * {
      margin-bottom: 2.4rem;
    }
    & .heading-3 {
      color: $color-secondary;
    }
    & img {
      width: 100%;
    }

    & .btn {
      height: unset;
      padding: 2.4rem 4.8rem;
      background-color: $color-tertiary;
      width: 100%;
      text-transform: unset;
    }
  }
}
